.fc .fc-button-primary {
    background-color: #1F48C6;
    border-color: #091E5D;
    color: white;
    margin-right: 10px;
}

.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
    background-color: #1F48C6;
    border-color: #091E5D;
    color: white;
}

.fc td{
    background-color: #dddde2 !important;
}

.fc th{
    background-color: #545E97 !important;
    color: white;
}

.fc-scrollgrid-sync-inner a{
    color:white;
}

.fc-daygrid-day-top a{
    color: blue;
}

.fc-daygrid-day-bottom a{
    color: #0C185B;
}

.fc-daygrid-event-harness a{
    color: #5D5E67;
}

